*{
    margin: 0;
    padding: 0;

}


.to-do{
    width: 100%;
    max-width: 500px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    background: #fff;
    margin: 80px auto 20px;
}
.to-do h1{
    font-size: 30px;
    margin-top: 2px;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: #BD99A2;
    padding: 10px;
}
.row{
    display: flex;
    background: rgb(214, 207, 207);
    border-radius: 30px;
    justify-content: space-between;
}
#input-box{
   border: none;
   outline: none;
   background: transparent;
   padding: 10px;
   font-weight: 12px;
}
button{
    border:none;
    outline: none;
    padding: 16px 50px;
    background: #36123F;
    color: #fff;
    border-radius: 30px;
    cursor:pointer;
}
ul li{
    list-style: none;
    padding: 12px 8px 12px 50px ;
    user-select: none;
    cursor: pointer;
    font-size: 15px;
    position: relative;
}
/* ul li:before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/icons8-circle-24.png);
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 8px;
} */
